{{page-title "EmberBundleAnalyzingPlayground"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
Hello wonder
{{!-- Feel free to remove this! --}}

<Button>
  Hello Damnit
</Button>
{{outlet}}
